.characterProfileBox{
    border: solid black;
    padding: 6px;
    max-width: 400px;
    margin-bottom: 30px;
}

.characterProfileName{
    font-size: 150%;
    text-align: center;
    padding-bottom: 10px;
}

.characterProfileSummary{
    text-align: center;
    font-style: italic;
    padding-bottom: 10px;
}

.fieldTitle{
    font-size: 75%;
    display: block;
    text-decoration: underline;
}

.characterProfileElement{
    padding-bottom: 10px;
    break-inside: avoid-column;
    border-top: solid black;
}

.characterProfileAbilities{
    border: solid black;
    padding: 4px;
}

ul{
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 4px;
    padding-left: 0;
}

li{
    padding-bottom: 6px;
}